*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


body {
    background: #f3f6ff;
    padding-top: 120px;
}


/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background: #003580;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    z-index: 100;
}


header nav a {
    color: white;
    margin-left: 40px;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}


header nav a:hover {
    color: #ffcc00;
}


/* Grid layout */
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 90%;
    margin: auto;
}


.project-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}


.project-card:hover {
    transform: translateY(-10px);
}


.project-img {
    height: 260px;
    background-size: cover;
    background-position: center;
    width: 100%;
}