body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;

}

header {
    text-align: center;
    background-color: #e63946;
    color: #fff;
    padding: 20px;
    background-image: url('img_2.png');
}

h1 {
    font-size: 2.5rem;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #1d3557;
}

ol, ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    background-color: green;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.Bonus{
    color: red;
}

p{
    font-weight: bold;
    font-size: 16px;
}
.Image_Grinch {
    width: 40vw;
    height: 40vw;
    background-image: url('img_1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -26%;
    margin-left: 60%;
}


/* Media query voor grotere schermen */
@media (min-width: 768px) {
    .Image_Grinch {
        width: 40vw; /* Grotere breedte voor tablets/desktops */
        height: 40vw;
    }
}